* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #0f031f; */
}
a {
  text-decoration: none;
  font-style: italic;
  color: #ff3d00;
  font-weight: 700;
  font-size: large;
}
.btn-primary {
  color: aqua;
  font-weight: 600;
  background: #af03ff;
}
.auth-register {
  background: rgb(30, 100, 30);
  color: rgba(220, 200, 220, 0.9);
}
.auth-login {
  background: rgb(130, 100, 30);
  color: rgba(220, 200, 200, 0.8);
}

.auth-form-banner img {
  width: 100%;
  height: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(10, 10, 110, 0.3);
}

.loader {
  width: 148px;
  height: 148px;
  background: #000;
  border: 15px solid #f30232;
  border-bottom-color: #3f3;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.7s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #0f031f !important;
  color: white !important;
}
.nav-link,
.navbar-brand {
  color: white !important;
}

.navbar-brand img {
  height: 50px;
  width: 40px;
}
