@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
  display: grid;
  background: #72a2a2;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.container-one {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height: 350px;
  background: #fff;
  box-shadow: 5px 5px 15px rgba(#721233, 0.5);
  border-radius: 10px;
}

p {
  font-size: 0.6em;
  color: #721233;
  letter-spacing: 1px;
}

h1 {
  font-size: 1.2em;
  color: #721233;
  margin-top: -5px;
}

h2 {
  color: #4ff4f4;
  margin-top: -5px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.one,
.two,
.three,
.four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #aaa;
}

.one {
  left: 22%;
}
.two {
  left: 27%;
}
.three {
  left: 32%;
}
.four {
  left: 37%;
}

.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #721233;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.buttons button {
  background: rgba(#aaa, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffff;
  cursor: pointer;
  &:hover {
    background: #721233;
    transition: all 0.4s ease-in-out;
  }
}

.add {
  width: 67%;
}

.like {
  width: 22%;
}

.pick {
  margin-top: 11px;
  margin-bottom: 0;
  margin-left: 20px;
}

.focus {
  background: #721233;
  color: #fff;
}
.images img {
  margin-top: 40px;
  width: 290px;
}
